<div>
    -> <a routerLink="/dashboard">Go to Dashboard</a>
    <h1>AUDIT PAGE</h1>
    <div>
        <input type="text" placeholder="search/filter" (keyup)="filterName($event.target.value)"/>
    </div>
  <table>
    <thead>
      <tr>
        <th (click)="sortBy('name')">Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td>{{ data.name }}</td>
        <td>{{ data.date | date: "medium" }}</td>
      </tr>
    </tbody>
  </table>
</div>
