<div>
    <h1>Registration Form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
        <div class="alignContent">
            <label>FirstName</label>
            <input type="text" formControlName="firstName"/>
        </div>
        
        <div class="alignContent">
            <label>LastName</label>
            <input type="text" formControlName="lastName"/>
        </div>
        
        <div class="alignContent">
            <label>Email</label>
            <input type="email" formControlName="email"/>
        </div>
        
        <div class="alignContent">
            <label>Password</label>
            <input type="text" formControlName="password"/>
        </div>
        
        <div class="alignContent">
            <label>Confirm Password</label>
            <input type="text" formControlName="confirmPswd"/>
        </div>
        <div class="alignContent">
            <label>Audit</label><input type="checkbox" formControlName="isAudit"/>
        </div>
        <div>
            <button [disabled]="!registrationForm.valid">Sign Up</button>
        </div>
    </form>
{{registrationForm.valid}}---
    {{registrationForm.value | json}}
</div>